@import "tailwindcss";

@theme {
  --font-roboto-flex: 'Roboto Flex', sans-serif;
  
  --color-bg-primary: #07131C;
  --color-bg-secondary: #0F1A26;
  --color-accent: #D7FB72;
  --color-icon: #C62828;
}

@layer base {
  :root {
    --font-roboto-flex: 'Roboto Flex', sans-serif;
  }

  body {
    @apply bg-[#07131C] text-white font-sans;
    font-family: var(--font-roboto-flex);
  }

  html {
    scroll-behavior: smooth;
  }

  /* SVG icons color */
  svg[stroke="#C62828"],
  svg[fill="#C62828"] {
    stroke: #C62828;
    fill: #C62828;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
